/*-----------------
Fonts
-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/*-----------------
Global Css
-------------------*/
:root{
  --Soft-Red: #aa1d21;
  --Soft-White: #fff;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-decoration: none;
    outline: none;
}

*::selection{
    background: var(--Soft-Red);
    color: var(--Soft-White);
}

/*-----------------
App
-------------------*/
.container  {
  padding-top: 36px;
  display: flex;
  justify-content: space-around;
}

.container .form-control {
  text-align: left; 
}

.container .form-label{
  margin-top: 15px;
}

.container .btn {
	color: var(--Soft-White);
  background-color: var(--Soft-Red);
  border-color: var(--Soft-Red);
  border-radius: 4px;
  margin-top: 20px;
  padding: 7px;
  width: 100px;
  font-size: 15px;
  box-shadow: 0 3px 5px rgb(94 104 121 / 29%);
}

 .container  .btn:hover{
  color: var(--Soft-Red);
  background-color: var(--Soft-White);
  border-color: var(--Soft-Red);
  font-weight: 500;
}



